---
import Layout from '../layouts/Layout.astro';

const title = "À propos";
const description = "";
---

<Layout title={title} description={description}>
    <p>Flying Tap Fest est un festival de musique unique en son genre, qui se déroule dans un lieu exceptionnel : une ancienne usine de fabrication de bières artisanales, située au cœur d'une ville dynamique. Depuis sa création en 2010, le festival s'est imposé comme l'un des événements musicaux les plus attendus de la région, attirant chaque année des milliers de visiteurs venus de toute la France et d'ailleurs.</p>
    <p>Le festival se distingue par sa programmation éclectique, qui mêle les genres musicaux les plus variés : rock, pop, électro, hip-hop, jazz, world music... Les artistes invités sont soigneusement sélectionnés pour leur talent et leur originalité, et offrent des performances inoubliables sur plusieurs scènes réparties dans l'usine. En plus des concerts, le festival propose également des animations, des ateliers, des expositions et des espaces de restauration pour satisfaire tous les goûts.</p>
    <p>Flying Tap Fest est bien plus qu'un simple festival de musique : c'est une véritable expérience culturelle et sociale, qui favorise les rencontres et les échanges entre les artistes et le public. Le festival s'engage également en faveur de l'environnement et du développement durable, en adoptant des pratiques éco-responsables et en sensibilisant les festivaliers à ces enjeux.</p>
    <p>En somme, Flying Tap Fest est un événement incontournable pour tous les amateurs de musique et de culture alternative, qui souhaitent vivre une expérience unique dans un cadre original et convivial.</p>
</Layout>
