---
import Layout from '../layouts/Layout.astro';

const title = "Le festival";
const description = "";
---

<Layout title={title} description={description}>
    <p class="text-lg leading-relaxed">
        Le Flying Tap Fest est un festival unique qui mêle la danse, la lumière et l’innovation. Entre ciel et terre, il réunit claquettes, musique et spectacles de drones pour offrir une expérience artistique moderne et immersive.
    </p>
    <h1 class="text-2xl font-bold mt-8 mb-4 text-[var(--orange-600)]">NOTRE HISTOIRE</h1>
    <p class="text-lg leading-relaxed">
        En deux jours, vivez un festival mêlant claquettes, musique, ateliers et spectacles de drones lumineux.
    </p>
    <div class="grid grid-cols-4 gap-8 mt-10 mb-10">
        <div class="border-l-4 border-[var(--orange-600)] pl-4">
            <h1 class="text-xl font-bold mt-8 mb-4 text-[var(--orange-600)]">2024</h2>
            <p class="text-lg leading-relaxed">
                Création du concept : associer claquettes, musique live et spectacles de drones pour réinventer la scène.            
            </p>
        </div>
        <div class="border-l-4 border-[var(--orange-600)] pl-4">
            <h1 class="text-xl font-bold mt-8 mb-4 text-[var(--orange-600)]">2025</h2>
            <p class="text-lg leading-relaxed">
                Organisation d’un événement-test réunissant danseurs, techniciens lumière et pilotes de drones.
            </p>
        </div>
        <div class="border-l-4 border-[var(--orange-600)] pl-4">
            <h1 class="text-xl font-bold mt-8 mb-4 text-[var(--orange-600)]">2026</h2>
            <p class="text-lg leading-relaxed">
                Lancement de la première édition officielle au Parc du Près-la-Rose, avec ateliers, performances et shows lumineux.
            </p>
        </div>
        <div class="border-l-4 border-[var(--orange-600)] pl-4">
            <h1 class="text-xl font-bold mt-8 mb-4 text-[var(--orange-600)]">2027</h2>
            <p class="text-lg leading-relaxed">
                Développement de nouvelles scènes et collaborations artistiques mêlant rythme, lumière et innovation.
            </p>
        </div>
    </div>

</Layout>
